<div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let hero of heroes; let i = index">
            <div class="card h-100">
                <img [src]="hero.img" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ hero.nombre }}</h5>
                    <p class="card-text">{{ hero.bio }}</p>
                </div>
                
                <div class="d-grid gap-2 p-3">
                    <button class="btn btn-primary" type="button" (click)="heroP(i)">Ver más</button>
                </div>
            </div>
        </div>
    </div>
</div>